name: Build and Test C++ Project

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: sudo apt-get install -y g++

      - name: Build project
        run: |
          g++ -std=c++17 -Wall -Wextra -o game main.cpp

      - name: Run program
        run: ./game
